html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #EBEBEB;
}
h3{
    padding-left: 10px;
    color: #fff;
}
#main-header{
    background-color: #424242;
    margin-top: 0;
    border: 1px solid #424242;
}
#section{
    height: 100%;
    width: 70%;
    min-width: 1000px;
    margin: 0 auto;
}
.movie-booking-calendar ul{
    padding: 10px;
    display: flex;
    margin: 0;
    color: #999999;
    overflow-x: hidden;
}
.movie-booking-calendar ul li{
    font-weight: 900;
}
.movie-booking-calendar ul span{
    cursor: pointer;
    font-size: 20px;
    width: 300px;
    text-align: center;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    color: #000;
}
.movie-booking-calendar ul span:hover{
    background-color: #3F5F5F;
    color: #fff;
}
#btn-prev-date, #btn-next-date/*, #btn-prev-time, #btn-next-time*/{
    background-color: #3F5F5F;
    color: #fff;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
#btn-prev-time, #btn-next-time{
    color: #000;
}
.btn-calendar{
    padding: 10px;
    margin: 0;
}
.btn-calendar a{
    color: #999999;
}
#main-booking-bot img{
    width: 100%;
    height: 100px;
}
.booking-grid-container{
    display: grid;
    grid-auto-flow: row;
    height: 400px;
    grid-template-columns: 34fr 43fr 60fr;
}
/* movie */
.main-booking-movie{
    grid-column: 1;
    background-color: #D9E2E1;
    padding-top: 0;
    border-left: 1px solid #999999;
}
#movie-list{
    margin: 0;
    padding: 10px;
    height: 345px;
    padding-top: 0;
    margin-bottom: 10px;
    background-color: #D9E2E1;
    overflow-y: scroll;
}
#movie-list::-webkit-scrollbar{
    width: 6px;
}
#movie-list::-webkit-scrollbar-track{
    background-color: transparent;
}
#movie-list::-webkit-scrollbar-thumb{
    background-color: #3F5F5F;
    border-radius: 3px;
}
#movie-list::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}
#movie-list li{
    cursor: pointer;
    font-size: 12px;
    padding: 2px;
    margin: 10px;
    text-align: left;
}
/* theater */
.main-booking-theater{
    grid-column: 2;
    background-color: #D9E2E1;
    padding-top: 0;
    border-left: 1px solid #999999;
}
.theater-list-container{
    display: grid;
    
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
}
.theater-list-big{
    grid-column: 1;
    margin: 0;
    height: 100%;
    border-right: 1px solid #999999;
    padding: 10px;
    padding-top: 0;
}
.theater-list-big li{
    font-size: 15px;
    margin: 10px;
    text-align: left;
}
.theater-list-big li:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #3F5F5F;
}
.theater-list-small{
    grid-column: 2;
    margin: 0;
    height: 345px;
    padding: 10px;
    padding-top: 0;
    overflow-y: scroll;
}
.theater-list-small::-webkit-scrollbar{
    width: 6px;
}
.theater-list-small::-webkit-scrollbar-track{
    background-color: transparent;
}
.theater-list-small::-webkit-scrollbar-thumb{
    background-color: #3F5F5F;
    border-radius: 3px;
}
.theater-list-small::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}
.theater-list-small li{
    font-size: 15px;
    margin: 10px;
    text-align: left;
}
.theater-list-small li:hover{
    text-decoration: underline;
}
/* time */
.main-booking-time{
    background-color: #D9E2E1;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    padding-top: 0;
    grid-column: 3;
}
#time-list{
    position: relative;
    width: 95.5%;
    height: 290px;
    padding: 0 20px 0 0;
    overflow-y: scroll;
}
#time-list::-webkit-scrollbar{
    width: 6px;
}
#time-list::-webkit-scrollbar-track{
    background-color: transparent;
}
#time-list::-webkit-scrollbar-thumb{
    background-color: #3F5F5F;
    border-radius: 3px;
}
#time-list::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}
.nav-hour ul{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin-right: 10px;
    color: #999999;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    overflow-x: hidden;
}
.nav-hour ul span{
    cursor: pointer;
    width: 20px;
    font-size: 13px;
    padding: 0;
}
.nav-hour ul span:hover{
    color: #000;
    font-weight: 700;
}
#time-list li{
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    padding: 2px;
    padding-left: 8px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 7fr 1fr;
}
#time-list li:hover{
    background-color: #CCCCCC;
}
.time-duration{
    grid-column: 1;
    font-size: 1rem;
}
.time-title{
    grid-column: 2;
    margin-left: 30px;
}
.time-info{
    grid-column: 3;
    font-size: 10px;
}
#review{
    background-color: #701112;
    margin-top: -5px;
}
.btn-container{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}
.btn-confirm{
    cursor: pointer;
    background-color: #EE3233;
    color: #fff;
    margin: 10px;
    padding: 5px;
    width: 100px;
    height: 100px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 15px;
}
/* banner */
#main-booking-bot{
    margin-top: 40px;
}
/* footer */
footer{
    border: 1px solid green;
}