/*default css*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
  margin: 0;
  white-space: nowrap;
  font-family: 'Noto Sans KR', 'Gill Sans', sans-serif;
}
header {
  height: 115px;
  background-image: url('../resource/image/index/bg.jpg');
  min-width: 94em;
}
header > #loginBar {
  height: 25%;
}
header > nav {
  height: 50%;
}

#navList {
  padding: 0;
  margin: 0;
}

#movie li {
  display: inline-block;
  padding-left: 3em;
}
#movieExcept {
  padding-left: 3em !important;
}

#movie {
  margin-left: 21em !important;
  width: min-content;
}
#movie > li {
  font-size: 1.4em;
}

/*loginbar css*/
#loginBar li {
  display: inline-block;
  padding-left: 1em;
}
#loginBar > ul {
  margin: 0;
  padding-top: 1.5em;
  padding-left: 15em;
  font-size: 0.8em;
}

#login {
  padding-left: 70em !important;
}

/*dropdown css*/
#dropdown {
  padding: 0;
  background-image: url('../resource/image/index/bg.jpg');
  width: 100%;
  z-index: 1;
  font-size: 0.9em;
  margin-top: 1.61em;
  display: none;
}

#dropdown a {
  padding: 0;
  display: block;
  padding-top: 0.7em;
}

#dropdown li {
  display: inline-block;
  padding: 0;
  text-align: center;
  padding-top: 0.8em;
  padding-bottom: 1.5em;
}

#movie:hover #dropdown {
  display: block;
}
#a {
  padding-left: 3.8em !important;
}
#b {
  padding-left: 3em !important;
}
#c {
  padding-left: 22.4em !important;
}
#d {
  padding-left: 3em !important;
}

/*text decoration*/
header a:link,
header a:visited {
  text-decoration: none;
  color: #f4f4f4;
}
header a:hover {
  text-decoration: underline;
}
