/* COMMON */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

h2,
a,
p,
span {
  font-family: 'Noto Sans KR' 'Gill Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* SECTION */
