body {
  font-family: 'Noto Sans KR';
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  height: 60px;
  display: flex;
  align-items: center;
  color: black;
  margin-top: 100px;
  /* border-top-left-radius: 8px; */
  /* border-top-right-radius: 8px; */
  border-top: 1px solid black;
  border-bottom: 1px solid gray;
}
#nameAndEmail {
  margin: 0;
  text-align: center;
  color: black;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
}
#nameAndEmail > span {
  font-size: 22px;
}
.userInfo-box {
  margin: 20px 0;
}

#score {
  height: 100px;
  /* color: #f4f4f4; */
  margin-top: 50px;
}
.score-point {
  color: black;
}
.score-point span {
  font-size: 25px;
}

#user-score {
  margin-left: 10px;
  color: #d09f67;
}

#reservation {
  height: 200px;
  margin-top: 80px;
  margin-bottom: 80px;
}
#reservation div {
  border-radius: 50px;
}

#unknown div {
  width: 100%;

  display: inline-block;
}
#unknown ul {
  float: right;
}

#birth-text {
  margin-left: 10px;
  font-size: 22px;
  color: #d09f67;
}

#point {
  height: 300px;
}
#movieDb {
  font-size: 25px;
}
#fin span {
  font-size: 22px;
}

#nickname,
#name,
#email,
#score {
  color: #d09f67;
}
