html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#section {
  margin: 0 auto;
  border: 1px solid red;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
  color: #000;
}
button {
  border: none;
  background-color: #fff;
}
