#main-top-wrap {
  height: 80vh;
  width: 203.1vh;
  /* width: 100%; */
}
#main-top-wrap img {
  width: 100%;
  vertical-align: middle;
}
#main-movie-top {
  position: absolute;
  color: #fff;
  top: 30%;
  left: 10%;
  width: 550px;
  height: 550px;
}
.main-movie-top-header {
  font-size: 100px;
  font-weight: bolder;
  text-shadow: 4px 4px #000;
  text-align: start;
  height: 200px;
}
.main-movie-top-desc {
  font-size: 30px;
  text-shadow: 2px 2px #000;
}
#movie-btn-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.movie-top-btn-1 {
  height: 7vh;
  width: 25vh;
  font-size: 15px;
  background-color: #217c7e;
  color: #fff;
  border: none;
  border-radius: 2px;
}
.movie-top-btn-1:hover {
  background-color: #217c7e;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    #217c7e 30%
  );
  font-size: 1em;
}
.movie-top-btn-2 {
  height: 7vh;
  width: 25vh;
  font-size: 15px;
  background-color: #9a3334;
  color: #fff;
  border: none;
  border-radius: 2px;
}
.movie-top-btn-2:hover {
  background-color: #9a3334;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    #9a3334 30%
  );
  font-size: 1em;
}
#main-movie-bottom {
  display: flex;
  justify-content: center;
}
table {
  /* margin-top: 60px; */
  padding: 0;
  border-spacing: 70px 80px;
}
td {
  width: 230px;
  height: 320px;
}
.img-box {
  position: relative;
  /* margin-right: 50px; */
  margin-bottom: -10px;
  /* width: 100%;
  height: 100%; */
  width: 230px;
  height: 320px;
}
.movie-img {
  display: block;
  opacity: 1;
  transition: 0.1s ease;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}
.movie-img img {
  height: 100%;
  width: 100%;
}
.movie-img-hover {
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
  display: grid;
  align-content: space-between;
  background-color: #000;
  color: #fff;
  margin-bottom: 15px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.img-box:hover .movie-img-hover {
  opacity: 0.8;
}
.movie-title {
  text-align: left;
  margin-top: 0;
}
.movie-img-btn {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
#heart {
  color: #dddddd;
}
.movie-img-btn a .btn-movie-img-hover-likes {
  border: 1px solid #dddddd;
  background-color: #fff;
  width: 60px;
  height: 35px;
}
.movie-img-btn a .btn-movie-img-hover-likes:hover {
  background-color: rgba(195, 233, 255, 0.8);
}
#heart:hover {
  color: rgba(255, 0, 0, 0.8);
}
.movie-img-btn a .btn-movie-img-hover-booking {
  border: none;
  background-color: #80ceb9;
  font-weight: bold;
  color: #fff;
  width: 140px;
  height: 35px;
}
.movie-img-btn a .btn-movie-img-hover-booking:hover {
  background-color: rgba(58, 146, 105, 0.8);
}
