#nav-fixed {
  position: fixed;
  display: inline;
  padding: 0;
  top: 40%;
  right: 0;
  width: 150px;
  height: auto;
  background-color: #2f343a;
  border: none;
  z-index: 5;
}
#nav-fixed li {
  padding: 10px;
  color: #fff;
}
#nav-fixed li:hover {
  background-color: #717d8c;
}
#nav-fixed hr {
  width: 100%;
}
